In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
la = 0.03 * 110.574
lo = 0.06 * 111.32 * np.cos(0.03)
di = np.sqrt(la**2 + lo**2)

In [ ]:
data = []

In [ ]:
def add_ratio(df, sh, lon, lat, wb, wr, lb, wt):
    return df.append([sh, lon, lat, wb, wr, lb, wt,
                     float(wb)/float(wr), float(lb)/float(wb),
                     float(wb)/float(wt)])

In [ ]:
add_ratio(data, 'triangle', -66.46, 45.06, 2*di, 0.2*di, 1.5*di, np.nan)
add_ratio(data, 'trapezoid', -66.74, 45.07, di, 0.1*di, 1.5*di, di)
add_ratio(data, 'trapezoid', -67.27, 44.63, 2*di, 0.1*di, 3*la, 1.5*di)
add_ratio(data, 'triangle', -67.80, 44.52, 0.8*di, 0.05*di, 4*la, np.nan)
add_ratio(data, 'trapezoid', -67.80, 44.52, 1.2*di, 0.05*di, di, 1.1*di)
add_ratio(data, 'triangle', -70.64, 41.99, 4*la, 0.1*di, 1.5*di, np.nan)
add_ratio(data, 'trapezoid', -70.66, 41.60, 1.2*di, 0.05*di, di, 1.1*di)
add_ratio(data, 'triangle', -40.5, 73.9, 17, 2, 24, np.nan)
add_ratio(data, 'triangle', -41.0, 72.0, 28, 3, 158, np.nan)
add_ratio(data, 'trapezoid', -71.01, 42.31, 3*la, 0.3*la, 2*di, 2*la)
add_ratio(data, 'triangle', -71.38, 41.73, 1.5*di, 0.1*di, 4*la, np.nan)
add_ratio(data, 'triangle', -72.81, 41.26, 0.8*di, 0.1*di, di, np.nan)
add_ratio(data, 'triangle', -74.27, 40.49, 3*la, 0.3*la, 2*lo, np.nan)
add_ratio(data, 'trapezoid', -75.09, 38.62, 4*la, 0.3*la, 2*lo, 4*la)
add_ratio(data, 'triangle', -75.48, 39.34, 49, 4, 98, np.nan)
add_ratio(data, 'triangle', -75.74, 37.92, 35, 4, 241, np.nan)
add_ratio(data, 'triangle', -75.85, 38.02, 1.1*di, 0.1*la, 3*di, np.nan)
add_ratio(data, 'triangle', -66.46, 45.06, 2*di, 0.05*la, 2*di, np.nan)
add_ratio(data, 'trapezoid', -67.15, 44.83, 28, 1, 35, 15)

In [ ]:
data = pd.DataFrame(data)
data.columns=['Shape', 'Lon', 'Lat',
              'Wb', 'Wr', 'Lb','Wt',
              'Rbr', 'Rlb', 'Rbt']

In [ ]:
for f in ['john.csv', 'gustavo.csv']:
    df = pd.read_csv(f)
    df['Rbr'] = df.Wb / df.Wr
    df['Rlb'] = df.Lb / df.Wb
    df['Rbt'] = df.Wb / df.Wt
    data = pd.concat([data, df]).reset_index(drop=True)

In [ ]:
data = data.sort_values('Shape').reset_index(drop=True)
data.to_csv('shape_data.csv', index=None)

In [35]:
data = pd.read_csv('shape_data.csv')
#data[data.Rbr < 2]

In [36]:
data.loc[4, 'Shape'] = 'triangle'
data.loc[4, 'Wb'] = 13.0
data.loc[4, 'Lb'] = 11.0
data.loc[4, 'Wt'] = np.nan
data.loc[4, 'Wr'] = 1.6
data.loc[4, 'Rlb'] = 11.0 / 13.0
data.loc[4, 'Rbr'] = 13.0 / 1.6
data.loc[4, 'Rbt'] = np.nan

In [37]:
data.loc[19, 'Wb'] = 35.0
data.loc[19, 'Lb'] = 45.0
data.loc[19, 'Wt'] = 14.5
data.loc[19, 'Wr'] = 1.2
data.loc[19, 'Rlb'] = 45.0 / 35.0
data.loc[19, 'Rbr'] = 45.0 / 1.2
data.loc[19, 'Rbt'] = 35.0 / 14.5

In [38]:
data = data.drop([7, 8, 9, 10, 14, 26, 19])

In [48]:
data.loc[data.Shape == 'trapezoid', ['Rbr', 'Rlb', 'Rbt']].describe()

        Rbr   Rlb   Rbt
count 17.00 17.00 17.00
mean  10.71  2.29 17.63
std    8.51  2.33 24.56
min    2.10  0.67  1.00
25%    3.30  1.25  1.09
50%    9.29  1.50  1.50
75%   13.33  2.09 33.33
max   28.00 10.00 79.00

In [50]:
data.loc[data.Shape == 'triangle', ['Rbr', 'Rlb']].describe()

        Rbr   Rlb
count 22.00 22.00
mean  12.85  6.13
std   18.12  7.22
min    1.71  0.75
25%    4.57  1.27
50%    9.04  2.72
75%   12.02  6.47
max   89.89 24.93

In [51]:
data[(data.Rlb > 2.71) & (data.Rlb < 2.73)]

       Shape    Lon   Lat   Wb   Wr    Lb  Wt   Rbr  Rlb  Rbt
38  triangle -75.85 38.02 8.20 0.33 22.36 nan 24.72 2.73  nan

In [52]:
data[(data.Rlb > 1.49) & (data.Rlb < 1.51)]

        Shape    Lon   Lat   Wb   Wr    Lb   Wt   Rbr  Rlb  Rbt
1   trapezoid -81.16 31.84 5.32 1.40  8.00 4.00  3.80 1.50 1.33
13  trapezoid -71.01 42.31 9.95 1.00 14.91 6.63 10.00 1.50 1.50
21  trapezoid -66.74 45.07 7.45 0.75 11.18 7.45 10.00 1.50 1.00

In [ ]:
ratio_min = data[['Shape', 'Rbr', 'Rlb', 'Rbt']].groupby('Shape').min()
ratio_max = data[['Shape', 'Rbr', 'Rlb', 'Rbt']].groupby('Shape').max()

In [ ]:
ratio_range = pd.concat([ratio_min, ratio_max], keys=['R_min', 'R_max'])
ratio_range

In [1]:
from coast_images import plot_coords

In [2]:
plot_coords('gis_data/east_coast/east_coast.shp')